@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --lily-green: #00302e;
    --lily-sun: #e2b887;
    --lily-light: #fbddbb;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
}
